@import url(//fonts.googleapis.com/css?family=Lato:300i,400,400i,700|Raleway:400,500,600&amp;subset=latin-ext);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Code+Pro|Alegreya+Sans+SC|Alegreya+SC);
@font-face {
    font-family: 'bariolregular';
    src: url('fonts/Bariol/bariol_regular-webfont.eot');
    src: url('fonts/Bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Bariol/bariol_regular-webfont.woff2') format('woff2'), url('fonts/Bariol/bariol_regular-webfont.woff') format('woff'), url('fonts/Bariol/bariol_regular-webfont.ttf') format('truetype'), url('fonts/Bariol/bariol_regular-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvinBold';
    src: url('fonts/Arvin/Arvin Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'ArvinBoldItalic';
    src: url('fonts/Arvin/Arvin Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ArvinItalic';
    src: url('fonts/Arvin/Arvin Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArvinRegular';
    src: url('fonts/Arvin/Arvin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistregular';
    src: url('fonts/Geomanist/geomanist-regular-webfont.eot');
    src: url('fonts/Geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Geomanist/geomanist-regular-webfont.woff2') format('woff2'), url('fonts/Geomanist/geomanist-regular-webfont.woff') format('woff'), url('fonts/Geomanist/geomanist-regular-webfont.ttf') format('truetype'), url('fonts/Geomanist/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -ms-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
}

code,
samp,
kbd {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 13px;
    text-align: left;
    color: #555;
}

pre code {
    font-size: 12px;
    font-family: monospace;
    line-height: 13px;
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
    border-radius: 0;
    border: none;
}

code {
    white-space: pre-wrap;
    /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important;
    /* 1999+ Mozilla  */
    white-space: -pre-wrap;
    /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;
    /* Opera 7 and up */
    word-wrap: break-word;
    /* IE 5.5+ and up */
    font-family: monospace;
    padding: 1px 2px 1px 2px;
    color: #fff;
    font-weight: 800;
    background-color: #676767;
    font-size: 11px;
    line-height: 1em;
    border-radius: .28571429rem;
    border: 1px solid #22242626;
}

pre {
    white-space: pre-wrap;
    /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important;
    /* 1999+ Mozilla  */
    white-space: -pre-wrap;
    /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;
    /* Opera 7 and up */
    word-wrap: break-word;
    /* IE 5.5+ and up */
    font-family: monospace;
    font-size: 12px;
    line-height: 13px;
    background-color: #f3f3f3;
    padding: 1em;
    border-left: 11px solid #ccc;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto;
    border-radius: .28571429rem;
    border: 1px solid #22242626;
}

blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 25px;
    margin: 30px 15px 30px 15px;
    position: relative;
    /*Font*/
    font-family: 'Alegreya Sans SC', serif !important;
    font-size: 20px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    /*Borders - (Optional)*/
    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;
    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 3px #ccc;
    text-transform: capitalize !important;
}

blockquote::before {
    content: "\201C";
    /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: bold;
    color: #999;
    /*Positioning*/
    position: absolute;
    left: 4px;
    top: 5px;
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}

blockquote em {
    font-style: italic;
}


/* target IE7 and IE6 */

*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto;
}

* html pre {
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
}

.social-footer {
    text-align: center !important;
    display: block !important;
    padding-top: 10px !important;
}

.menu-home {
    font-weight: 800 !important;
    padding: 0 !important;
    font-family: 'Alegreya Sans SC', serif !important;
    text-transform: capitalize;
    font-size: 35px;
}

.menu-home-small,
.menu-home:hover {
    cursor: pointer;
}

.menu-home-small {
    font-weight: 800 !important;
    padding: 0 !important;
    font-family: 'Alegreya Sans SC', serif !important;
    text-transform: capitalize;
    font-size: 18px;
}

.Alegreya {
    font-family: 'Alegreya Sans SC', serif !important;
    text-transform: capitalize;
}

.button-font {
    font-family: 'Alegreya Sans SC', serif !important;
    text-transform: capitalize;
    font-weight: 600;
}

.pulse:hover {
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    -ms-animation-name: pulse;
    animation-name: pulse;
}

.cool-link {
    font-size: 110%;
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #a1a1a1;
    transition: width .3s;
    -moz-transition: width .3s;
    -o-transition: width .3s;
    -ms-transition: width .3s;
}

.cool-link:hover {
    color: #4d4d4d;
}

.cool-link:hover::after {
    width: 100%;
}

.share-btn-div {
    display: flex;
    margin: 0px 10px 0px 0px;
}

.share-btn-margin {
    margin-right: -5px;
    cursor: pointer;
}

.share-counter-text {
    color: white !important;
    font-weight: 600;
    height: 100%;
}

.ant-divider {
    display: inline-block;
    height: 0.9em;
    width: 2px;
    vertical-align: middle;
    position: relative;
    top: -0.06em;
}

.ant-divider {
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5;
    color: #000000a6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 5px 0px 5px;
    padding: 0;
    list-style: none;
    background: #b1b1b1;
}

.git-shadow {
    -webkit-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.88);
    -moz-box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.88);
    box-shadow: 1px 0px 3px 0px rgba(50, 50, 50, 0.88);
    padding: 20px 0px 10px 20px;
    margin: 0px 0px 10px 0px;
}

.width85vw {
    width: 85vw !important;
}

.Bariolregular {
    font-family: 'bariolregular' !important;
}

.ArvinRegular {
    font-family: 'ArvinRegular' !important;
}

.Geomanistregular {
    font-family: 'geomanistregular' !important;
}


/*FadeIn*/

.fadeIn {
    display: inline;
    text-indent: 8px;
}

.fadeIn span {
    animation: fadeEffect 12.5s linear infinite 0s;
    -ms-animation: fadeEffect 12.5s linear infinite 0s;
    -webkit-animation: fadeEffect 12.5s linear infinite 0s;
    color: #757777;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.fadeIn span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.fadeIn span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.fadeIn span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}

.fadeIn span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}


/*FadeIn Animation*/

@-moz-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: translateY(0px);
    }
    10% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: translateY(0px);
    }
    10% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.color-input,
.color-input-img {
    width: 350px;
    height: 280px;
}

.color-input {
    /* removes default styling from input color element */
    padding: 0;
    border: none;
    /* makes input (color swatch) 100% size of container */
    position: absolute;
    /* mix blend mode makes the color of the swatch alter the image behind it. */
    mix-blend-mode: hue;
    /* try screen, multiply or other blend modes for different effects */
    cursor: pointer;
}

.color-input-img:hover,
.color-input:hover {
    cursor: auto;
}


/* removes default styling from input color element */

 ::-webkit-color-swatch {
    border: none;
}

 ::-webkit-color-swatch-wrapper {
    padding: 0;
}

 ::-moz-color-swatch,
 ::-moz-focus-inner {
    border: none;
}

 ::-moz-focus-inner {
    padding: 0;
}

.cool-link-two {
    font-size: 110%;
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.cool-link-two:hover {
    color: rgb(66, 66, 66);
}

.cool-link-two:after {
    display: block;
    content: '';
    border-bottom: solid 1px rgb(48, 45, 45);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out
}

.cool-link-two:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}


/* Ilin */

.link--ilin {
    overflow: hidden;
}

.link--ilin span {
    font-family: 'Alegreya Sans SC',
    serif !important;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.8s;
    transition: color 0.8s;
}

.link--ilin:hover span:first-of-type {
    color: rgb(36, 36, 36);
}

.link--ilin:hover span:last-of-type {
    color: #1e1a1b;
}

.link--ilin span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    line-height: 0.8;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
}

.link--ilin span:last-of-type::before {
    background: #1e1a1b;
}

.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
}

.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
}

.cool-link-three {
    font-size: 20px;
    color: #584E4A;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
}

.cool-link-three :before,
.cool-link-three :after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F37272;
}

.cool-link-three :before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.cool-link-three :after {
    opacity: 0;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.cool-link-three :hover:before,
.cool-link-three :hover:after,
.cool-link-three :focus:before,
.cool-link-three :focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cool-link-three :hover:before,
.cool-link-three :focus:before {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.cool-link-three :hover:after,
.cool-link-three :focus:after {
    -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}